.shimmer {
  position: relative;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.05);
  
  &::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transform: translateX(-100%);
    background: linear-gradient(
      90deg,
      transparent 0%,
      rgba(255, 255, 255, 0.4) 50%,
      transparent 100%
    );
    animation: shimmer-move 1.8s infinite cubic-bezier(0.4, 0, 0.2, 1);
    mix-blend-mode: overlay;
  }
}

@keyframes shimmer-move {
  100% {
    transform: translateX(100%);
  }
}

// Estética Dark Mode automática
:host-context(.dark) {
  .shimmer {
    background-color: rgba(255, 255, 255, 0.05);
    &::after {
      background: linear-gradient(
        90deg,
        transparent 0%,
        rgba(255, 255, 255, 0.1) 50%,
        transparent 100%
      );
    }
  }
}
