.active-link {
    background-color: rgba(25, 118, 210, 0.1);
    /* Azul claro */
    color: #1976D2;
    /* Azul primario */
}

/* Ajustes opcionales para iconos */
mat-icon {
    margin-right: 8px;
}